<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tabela de produtos</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div th:replace="~{header :: header}"></div>
        <main>
            <section class="content-container">
                <fieldset class="fieldset">
                    <legend class="legenda">
                        <h3>Tabela de produtos</h3>
                    </legend>
                    <p>Clique no <strong>Título</strong> do produto para exibir mais informações.</p>
                    <div class="tabela-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Título</th>
                                    <th>Preço unitário</th>
                                    <th colspan="2">Configurar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="prod : ${produto}">
                                    <td data-campo="Id" class="td-id"><span th:text="${prod.id}"></span></td>
                                    <td data-campo="Título" class="td-titulo">
                                        <details class="w-100">
                                            <summary class="capitalize"><strong><span th:text="${prod.titulo}"></span></strong></summary>
                                            <ul>
                                                <li><strong>Descrição: </strong><span th:text="${prod.descricao}"></span></li>
                                                <li><strong>Vendedor: </strong><span th:text="${prod.vendedor}"></span></li>
                                                <li><strong>Ultima atualização: </strong><span th:text="${#temporals.format(prod.dataRegistro, 'dd/MM/yyyy HH:mm')}"></span></li>
                                                <li><strong>Categoria: </strong><span th:text="${prod.categoria}"></span></li>
                                                <li><strong>Endereço de retirada: </strong><span th:text="${prod.enderecoRetirada}"></span></li>
                                                <li><strong>Quantidade: </strong><span th:text="${prod.quantidade}"></span></li>
                                                <li><strong>Lote: </strong><span th:text="${prod.lote}"></span></li>
                                            </ul>
                                        </details>
                                    </td>
                                    <td data-campo="Preço Unitário" class="td-preco">R$ <span th:text="${prod.precoUnidade}"></span></td>
                                    <td class="td-botao"><a class="botao" th:href="@{/form-config-atualizar?id={id}(id=${prod.id})}">Atualizar</a></td>
                                    <td class="td-botao">
                                        <form name="deletar" action="deletar-produto" th:method="DELETE">
                                            <input type="hidden" name="id" th:value="${prod.id}">
                                            <button type="submit" class="botao">Deletar</button>
                                        </form>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </section>
        </main>
        <div th:replace="~{footer :: footer}"></div>
    </body>
</html>
