<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div th:replace="~{header :: header}"></div>
        <main>
            <section class="form-container">
                <fieldset class="fieldset w-70">
                    <legend class="legenda">
                        <h3>Novo Produto</h3>
                    </legend>
                    <form name="cadastrar" action="cadastrar-produto" method="POST">
                        <div class="form-cel w-100">
                            <label for="titulo">Título:</label>
                            <input type="text" id="titulo" name="titulo" autocomplete="off" required>
                        </div>

                        <div class="form-cel">
                            <label for="vendedor">Nome do Anunciante:</label>
                            <input type="text" id="vendedor" name="vendedor"  autocomplete="off" required>
                        </div>

                        <div class="form-cel">
                            <label for="categoria">Categoria:</label>
                            <input type="text" id="categoria" name="categoria" autocomplete="off" required>
                        </div>

                        <div class="form-cel w-100">
                            <label for="descricao">Descrição(Opcional):</label>
                            <textarea rows="4" id="descricao" name="descricao"></textarea>
                        </div>

                        <div class="form-cel w-100">
                            <label for="enderecoRetirada">Endereço de retirada do produto:</label>
                            <input type="text" id="enderecoRetirada" name="enderecoRetirada" autocomplete="off" required>
                        </div>

                        <div class="form-cel">
                            <label for="precoUnidade">Preço unitário:</label>
                            <input type="number" step="0.01" id="precoUnidade" name="precoUnidade" required>
                        </div>

                        <div class="form-cel">
                            <label for="quantidade">Quantidade:</label>
                            <input type="number" step="1" id="quantidade" name="quantidade" required>
                        </div>

                        <div class="form-cel">
                            <label for="lote">Número de lote/série:</label>
                            <input type="text" inputmode="numeric" id="lote" name="lote" maxlength="20" required> 
                        </div>
                        <div class="form-cel">
                            <button type="submit" class="botao" disabled>Cadastrar</button>
                        </div>
                    </form>
                </fieldset>
            </section>
        </main>
        <div th:replace="~{footer :: footer}"></div>
        <script src="js/verificar-campo-vazio.js"></script>
    </body>
</html>
