<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header</title>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar">
                <a class="navlink-botao" href="index.html">Início</a>
                <a class="navlink-botao" href="form-cadastrar.html">Cadastrar</a>
                <a class="navlink-botao" href="form-deletar.html">Deletar</a>
                <a class="navlink-botao" href="form-atualizar.html">Atualizar</a>
                <a class="navlink-botao" href="form-buscar-id.html">Buscar por id</a>
            </nav>
        </header>
    </body>
</html>
