<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div th:replace="~{header :: header}"></div>
        <main>
            <section class="content-container white-box">
                <h1>CRUD Java Web</h1>
                <hr>
                <h2>Index do projeto</h2>
                <p>Crud Web com Java</p>
            </section>                
        </main>
        <div th:replace="~{footer :: footer}"></div>
    </body>
</html>
